<% todos.forEach((todo) => { %>

    <div class="todo">
        <h2><%= todo.title %></h2>
        <h3
            hx-put="/todo/<%= todo.id %>" 
            hx-target="#main-display" >
            <%= todo.complete ? "completed" : "not completed" %>
        </h3>
        <h3 
            hx-delete="/todo/<%= todo.id %>" 
            hx-target="#main-display">
          X
        </h3>
    </div>
    
<% }) %>