<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <header><h1>Todo App</h1>
    <nav>
        <div 
            hx-get="/todo" 
            hx-trigger="click"
            hx-target="#main-display"
            hx-swap="innerHTML"
            class="link">
            List of Todos
        </div>
        <div 
            hx-get="/todo/new"
            hx-trigger="click"
            hx-target="#forms"
            class="link">
            Add a Todo
        </div>       
    </nav>
    </header>
    <main>
        <div id="main-display">
            <%- include('index.ejs') %>
        </div>
        <div id="forms"></div>
    </main>
</body>
</html>